<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ServletLogin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIniciarSesion</servlet-name>
        <servlet-class>Servlet.ServletIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraCampus</servlet-name>
        <servlet-class>Controller.MuestraCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraFacultades</servlet-name>
        <servlet-class>Servlet.MuestraFacultades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProgramas</servlet-name>
        <servlet-class>Servlet.ConsultaProgramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaFacultades</servlet-name>
        <servlet-class>Servlet.ConsultaFacultades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstudiantes</servlet-name>
        <servlet-class>Servlet.ConsultaEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCampus</servlet-name>
        <servlet-class>Servlet.ConsultaCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCampus</servlet-name>
        <servlet-class>Servlet.CrearCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMaterias</servlet-name>
        <servlet-class>Servlet.CrearMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarFacultad</servlet-name>
        <servlet-class>Servlet.SeleccionarFacultad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarPrograma</servlet-name>
        <servlet-class>Servlet.SeleccionarPrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionaMateria</servlet-name>
        <servlet-class>Servlet.SeleccionaMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMaterias</servlet-name>
        <servlet-class>Servlet.ModificarMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaMaterias</servlet-name>
        <servlet-class>Servlet.ConsultaMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProgramas</servlet-name>
        <servlet-class>Servlet.ModificarProgramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProgramas</servlet-name>
        <servlet-class>Servlet.CrearProgramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearFacultad</servlet-name>
        <servlet-class>Servlet.CrearFacultad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCampus</servlet-name>
        <servlet-class>Servlet.ModificarCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarios</servlet-name>
        <servlet-class>Servlet.ModificarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEstudiantes</servlet-name>
        <servlet-class>Servlet.ModificarEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarFacultades</servlet-name>
        <servlet-class>Servlet.ModificarFacultades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarios</servlet-name>
        <servlet-class>Servlet.CrearUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTutorias</servlet-name>
        <servlet-class>Servlet.CrearTutorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarTutor</servlet-name>
        <servlet-class>Servlet.SeleccionarTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTutorias</servlet-name>
        <servlet-class>Servlet.ModificarTutorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarProgramaEstudiante</servlet-name>
        <servlet-class>Servlet.SeleccionarProgramaEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribirMateria</servlet-name>
        <servlet-class>Servlet.EscribirMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMonitores</servlet-name>
        <servlet-class>Servlet.ModificarMonitores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarCasos</servlet-name>
        <servlet-class>Servlet.CerrarCasos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarContrasena</servlet-name>
        <servlet-class>Servlet.ActualizarContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMonitores</servlet-name>
        <servlet-class>Servlet.CrearMonitores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFacultadesMaterias</servlet-name>
        <servlet-class>Servlet.ListaFacultadesMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaTutorias</servlet-name>
        <servlet-class>Servlet.ConsultaTutorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarCampus</servlet-name>
        <servlet-class>Servlet.ConsultarCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProgramas</servlet-name>
        <servlet-class>Servlet.ConsultarProgramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>Servlet.ConsultarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarFacultades</servlet-name>
        <servlet-class>Servlet.ConsultarFacultades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirachivo</servlet-name>
        <servlet-class>Servlet.subirachivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarTodosUsuarios</servlet-name>
        <servlet-class>Servlet.ConsultarTodosUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_SeleccionaMateria</servlet-name>
        <servlet-class>Servlet._SeleccionaMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_GuardarResultados</servlet-name>
        <servlet-class>Servlet._GuardarResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaResultados</servlet-name>
        <servlet-class>Servlet.ConsultaResultados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIniciarSesion</servlet-name>
        <url-pattern>/ServletIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraCampus</servlet-name>
        <url-pattern>/MuestraCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraFacultades</servlet-name>
        <url-pattern>/MuestraFacultades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProgramas</servlet-name>
        <url-pattern>/ConsultaProgramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaFacultades</servlet-name>
        <url-pattern>/ConsultaFacultades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstudiantes</servlet-name>
        <url-pattern>/ConsultaEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCampus</servlet-name>
        <url-pattern>/ConsultaSede</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCampus</servlet-name>
        <url-pattern>/CrearCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMaterias</servlet-name>
        <url-pattern>/Materias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarFacultad</servlet-name>
        <url-pattern>/SeleccionarFacultad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarPrograma</servlet-name>
        <url-pattern>/SeleccionarPrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionaMateria</servlet-name>
        <url-pattern>/SeleccionaMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMaterias</servlet-name>
        <url-pattern>/ModificarMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaMaterias</servlet-name>
        <url-pattern>/ConsultaMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProgramas</servlet-name>
        <url-pattern>/ModificarProgramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProgramas</servlet-name>
        <url-pattern>/CrearProgramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearFacultad</servlet-name>
        <url-pattern>/GenerarFacultad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCampus</servlet-name>
        <url-pattern>/ModificarCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarios</servlet-name>
        <url-pattern>/ModificarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEstudiantes</servlet-name>
        <url-pattern>/ModificarEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarFacultades</servlet-name>
        <url-pattern>/ModificarFacultades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarios</servlet-name>
        <url-pattern>/CrearUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTutorias</servlet-name>
        <url-pattern>/CrearTutorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarTutor</servlet-name>
        <url-pattern>/SeleccionarTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTutorias</servlet-name>
        <url-pattern>/ModificarTutorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarProgramaEstudiante</servlet-name>
        <url-pattern>/SeleccionarProgramaEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribirMateria</servlet-name>
        <url-pattern>/EscribirMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMonitores</servlet-name>
        <url-pattern>/ModificarMonitores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarCasos</servlet-name>
        <url-pattern>/CerrarCasos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarContrasena</servlet-name>
        <url-pattern>/ActualizarContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMonitores</servlet-name>
        <url-pattern>/CrearMonitores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFacultadesMaterias</servlet-name>
        <url-pattern>/ListaFacultadesMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaTutorias</servlet-name>
        <url-pattern>/ConsultaTutorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarCampus</servlet-name>
        <url-pattern>/ConsultarCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProgramas</servlet-name>
        <url-pattern>/ConsultarProgramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarFacultades</servlet-name>
        <url-pattern>/ConsultarFacultades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirachivo</servlet-name>
        <url-pattern>/subirachivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarTodosUsuarios</servlet-name>
        <url-pattern>/ConsultarTodosUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_SeleccionaMateria</servlet-name>
        <url-pattern>/seleccionaMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_GuardarResultados</servlet-name>
        <url-pattern>/guardarResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaResultados</servlet-name>
        <url-pattern>/ConsultaResultados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <dependencies>
        <dependency>
            <groupId>com.google.code.gson</groupId>
            <artifactId>gson</artifactId>
            <version>2.8.5</version>
            <scope>compile</scope>
        </dependency>
    </dependencies>
</web-app>
